.selection{
    background-color: rgb(237, 237, 237);
    outline: none;
    border-style:none;
    border-radius: 8px;
    color: black;
    margin: 0 10px;
    font-weight: 500;
    padding: 8px 16px;
}